<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP Ubicación</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/simplex/bootstrap.min.css"
        integrity="sha384-FYrl2Nk72fpV6+l3Bymt1zZhnQFK75ipDqPXK0sOR0f/zeOSZ45/tKlsKucQyjSp" crossorigin="anonymous">
    <!-- https://www.bootstrapcdn.com/bootswatch/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <style>
        #app {
            text-align: center;
            margin-top: 60px;
            color: black;
        }

        .drop-zone {
            width: 50%;
            margin: 50px auto;
            background-color: gray;
            padding: 10px;
            min-height: 10px;
        }

        .drag-element {
            background-color: aqua;
            color: black;
            padding: 5px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body id="app">

    <div class="container-fluid min-vh-100">

        <div v-for="grupo in bd.grupos" :key="grupo.agrupador" class="drop-zone" @drop="onDrop($event, grupo.agrupador)"
            @dragenter.prevent @dragover.prevent>
            
            <div v-if="grupo.agrupador==999">
                <h3>Contenedores sin agrupar</h3>
                <p><button @click="newGroup()" class="btn btn-primary">Crear grupo</button></p>
                <hr>
            </div>

            <div v-if="grupo.agrupador!=999">
                <h3>Grupo {{grupo.agrupador}}</h3>            
                <input placeholder="Introducir RFID" type="text" v-model="grupo.rfid"><button @click="closeGroup(grupo.agrupador,grupo.rfid)" v-if="grupo.rfid.length>0">Cerrar contenedor</button>
                <hr>
            </div>

            
            <div v-for="item in getContenedoresGrupo(grupo.agrupador)" :key="item.contenedor" class="drag-element"
                draggable="true" @dragstart="startDrag($event,item)">
                {{item.contenedor}}
            </div>

        </div>

        <div class="container">
            <!-- Visor JSON -->
            <div class="col-12">
                <div class="form-group">
                    <button class=".btn btn-primary" @click="printExpedition()"><i class="bi bi-arrow-clockwise"></i></button>
                    <label for="VisorBD" class="form-label mt-4">Visor de BD {{jsonError}}</label>
                    <textarea class="form-control" id="VisorBD" v-model="baseDatosJson2" rows="35"></textarea>
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    "bd": {
                        "nextGroup": 0,
                        "descarga": [
                            { "contenedor": 11111, "agrupador": 1, "rfid": "" },
                            { "contenedor": 22222, "agrupador": 1, "rfid": "" },
                            { "contenedor": 33333, "agrupador": 2, "rfid": "" },
                            { "contenedor": 44444, "agrupador": 3, "rfid": "" },
                            { "contenedor": 55555, "agrupador": 999, "rfid": "" },
                        ],
                        "grupos": [
                            { "agrupador": 1, "rfid": "" },
                            { "agrupador": 2, "rfid": "" },
                        ]
                    },                    
                }
            },
            methods: {
                getContenedoresGrupo(val) {
                    return this.bd.descarga.filter(c => c.agrupador == val)
                },

                getUniqueGroups() {
                    // let groups = new Set(this.bd.descarga.map(e => (e.agrupador)))
                    let groups = new Set(this.bd.descarga.filter(c => c.rfid == "").map(e => (e.agrupador)))
                    groups = [...groups].sort()
                    groups.reverse()

                    console.log("grupos", groups)
                    this.bd.grupos = []
                    for (const group of groups) {
                        console.log("entro")
                        this.bd.grupos.push({ "agrupador": group, "rfid": "" })
                        console.log("dentro", this.bd.grupos)
                    }
                    const result = this.bd.grupos.filter(r => r.agrupador == 999)
                    if (result.length == 0) {
                        this.bd.grupos.unshift({ "agrupador": 999, "rfid": "" })
                    }

                    this.updateVisorBD()

                },
                closeGroup(group, rfid) {

                    this.bd.descarga.forEach(
                        e => {
                            if (e.agrupador==group) e.rfid = rfid
                        }
                    );

                    this.getUniqueGroups()

                },

                printExpedition() {
                    let result = {}
                    this.bd.descarga.forEach(
                        e => {
                            console.log("pues", e.rfid)
                            if (e.rfid != "") {                                
                                try {
                                    result[e.rfid].rfid = e.rfid
                                    result[e.rfid].contenedores.push(e.contenedor)
                                } catch (error) {
                                    result[e.rfid] = {}
                                    result[e.rfid].rfid = e.rfid
                                    result[e.rfid].contenedores=[]
                                    result[e.rfid].contenedores.push(e.contenedor)
                                }    
                            }                                                        
                        }
                    );
                    console.log("resultado", result)
                    alert(JSON.stringify(result, null, 4))

                    
                },
                startDrag(event, item) {
                    event.dataTransfer.dropEffect = 'move'
                    event.dataTransfer.effectAllowed = 'move'
                    event.dataTransfer.setData('contenedor', item.contenedor)
                },

                onDrop(event, grupo) {
                    const contenedor = event.dataTransfer.getData('contenedor')
                    const result = this.bd.descarga.filter(r => r.contenedor == contenedor)
                    const i = this.bd.descarga.indexOf(result[0])
                    result[0].agrupador = grupo
                    this.bd.descarga[i] = result[0]

                    this.getUniqueGroups()
                },

                newGroup() {
                    this.bd.grupos.splice(1, 0, { "agrupador": this.getMaxGroup(), "rfid": "" })
                },

                getMaxGroup() {
                    let maximo = 0
                    this.bd.descarga.forEach(element => {
                        if (element.agrupador>maximo && element.agrupador<999) maximo = element.agrupador
                    });
                    return ++maximo
                },
                updateVisorBD() {
                    this.baseDatosJson = JSON.stringify(this.bd, null, 4)
                }

            },
            mounted() {
                this.getUniqueGroups()
            },
            watch: {                
            },
            computed: {                
                baseDatosJson2: function () {                
                    return JSON.stringify(this.bd, null, 4)
                }
            }
        }).mount('#app')
    </script>

</body>